In [75]:
import numpy as np
import pandas as pd

In [76]:
patientheartrate=pd.read_csv('patient_heart_rate.csv')
patientheartrate

       1    Mickéy Mousé    56       70kgs   72   69   71    -  -.1  -.2
0    2.0     Donald Duck  34.0   154.89lbs    -    -    -   85   84   76
1    3.0      Mini Mouse  16.0         NaN    -    -    -   65   69   72
2    4.0  Scrooge McDuck   NaN       78kgs   78   79   72    -    -    -
3    5.0    Pink Panther  54.0  198.658lbs    -    -    -   69  NaN   75
4    6.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
5    7.0    Dewey McDuck  19.0       56kgs    -    -    -   71   78   75
6    8.0      Scööpy Doo  32.0       78kgs   78   76   75    -    -    -
7    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
8    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
9    NaN             NaN   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
10   9.0     Huey McDuck  52.0      189lbs    -    -    -   68   75   72
11  10.0    Louie McDuck  12.0       45kgs    -    -    -   92   95   87
12  11.0       Henry Nam   NaN       60kgs   78   75   72    -    -    -
13  12.0     Michel Long  34.0         NaN   65   67   55    -    -    -
14  13.0      Tana Ricky   NaN         NaN    -    -    -   68   72   70
15  14.0        UniLever   NaN         NaN  NaN  NaN  NaN  NaN  NaN  NaN
16  15.0             NaN  52.0      180lbs    -    -    -   68   75   72

In [77]:
patientheartrate.head(5)

     1    Mickéy Mousé    56       70kgs  72  69  71   -  -.1 -.2
0  2.0     Donald Duck  34.0   154.89lbs   -   -   -  85   84  76
1  3.0      Mini Mouse  16.0         NaN   -   -   -  65   69  72
2  4.0  Scrooge McDuck   NaN       78kgs  78  79  72   -    -   -
3  5.0    Pink Panther  54.0  198.658lbs   -   -   -  69  NaN  75
4  6.0     Huey McDuck  52.0      189lbs   -   -   -  68   75  72

In [78]:
column_names=["ID", "Name", "Age", "Weight", "m0006", "m0612","m1218", "f006", "f0612", "f1218"]
patientheartrate = pd.read_csv('patient_heart_rate.csv', names = column_names)
print(patientheartrate.head())

    ID            Name   Age      Weight m0006 m0612 m1218 f006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71    -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -   85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -   65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72    -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -   69   NaN    75

In [79]:
patientheartrate[['Firstname', 'Lastname']]=patientheartrate['Name'].str.split(expand = True)

In [80]:
patientheartrate = patientheartrate.drop('Name',axis=1)

In [81]:
print(patientheartrate)

      ID   Age      Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname  \
0    1.0  56.0       70kgs    72    69    71    -     -     -    Mickéy
1    2.0  34.0   154.89lbs     -     -     -   85    84    76    Donald
2    3.0  16.0         NaN     -     -     -   65    69    72      Mini
3    4.0   NaN       78kgs    78    79    72    -     -     -   Scrooge
4    5.0  54.0  198.658lbs     -     -     -   69   NaN    75      Pink
5    6.0  52.0      189lbs     -     -     -   68    75    72      Huey
6    7.0  19.0       56kgs     -     -     -   71    78    75     Dewey
7    8.0  32.0       78kgs    78    76    75    -     -     -    Scööpy
8    NaN   NaN         NaN   NaN   NaN   NaN  NaN   NaN   NaN       NaN
9    NaN   NaN         NaN   NaN   NaN   NaN  NaN   NaN   NaN       NaN
10   NaN   NaN         NaN   NaN   NaN   NaN  NaN   NaN   NaN       NaN
11   9.0  52.0      189lbs     -     -     -   68    75    72      Huey
12  10.0  12.0       45kgs     -     -     -   92    95    87     Louie
13  11.0   NaN       60kgs    78    75    72    -     -     -     Henry
14  12.0  34.0         NaN    65    67    55    -     -     -    Michel
15  13.0   NaN         NaN     -     -     -   68    72    70      Tana
16  14.0   NaN         NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever
17  15.0  52.0      180lbs     -     -     -   68    75    72       NaN

   Lastname
0     Mousé
1      Duck
2     Mouse
3    McDuck
4   Panther
5    McDuck
6    McDuck
7       Doo
8       NaN
9       NaN
10      NaN
11   McDuck
12   McDuck
13      Nam
14     Long
15    Ricky
16     None
17      NaN

In [99]:
weight=patientheartrate['Weight']

for i in range(0,len(weight)):
  x = str(weight[i])
  if "lbs" in x[-3:]:
    #remove the lbs from the value
    x = x[:-3:]
    float_x = float(x)
    y = int(float_x/2.2)
    y = str(y)+"kgs"
    weight[i] = y
print(patientheartrate)

KeyError: 8

In [92]:
patientheartrate.head()

    ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0  1.0  56.0  70kgs    72    69    71    -     -     -     Micky     Mous
1  2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2  3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3  4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4  5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther

In [95]:
patientheartrate.dropna(how="all", inplace=True)

In [96]:
patientheartrate=patientheartrate.drop_duplicates(subset=['Firstname','Lastname','Age','Weight'])

In [97]:
print(patientheartrate)

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN

In [87]:
patientheartrate.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
patientheartrate.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

C:\Users\PC\AppData\Local\Temp\ipykernel_18468\2147811679.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patientheartrate.Firstname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)
C:\Users\PC\AppData\Local\Temp\ipykernel_18468\2147811679.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  patientheartrate.Lastname.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [93]:
print(patientheartrate)

      ID   Age Weight m0006 m0612 m1218 f006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71    -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -   85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -   65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72    -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -   69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -   68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -   71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75    -     -     -      Scpy      Doo
12  10.0  12.0  45kgs     -     -     -   92    95    87     Louie   McDuck
13  11.0   NaN  60kgs    78    75    72    -     -     -     Henry      Nam
14  12.0  34.0    NaN    65    67    55    -     -     -    Michel     Long
15  13.0   NaN    NaN     -     -     -   68    72    70      Tana    Ricky
16  14.0   NaN    NaN   NaN   NaN   NaN  NaN   NaN   NaN  UniLever     None
17  15.0  52.0  81kgs     -     -     -   68    75    72       NaN      NaN